html, body {
    height: 100%;
    margin: 0;
  }
  
  .cajas {
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

body{
    background-image: url("Ciudadoscura.jpg");
    background-size: cover;
    background-color: aliceblue;
}

.botones{
    display: flex;
    flex:2;

    justify-content: center;
    align-items: center;
}

.estiloBoton{
    background-color: rgb(0, 0, 0); 
    border: none;
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    margin: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

h3{
    font-size: 30px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
}

.mensaje{
    font-size: 60px;
    color: chocolate;
    font-family: serif;
}